<h1>Your Articles are:</h1>
<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
      &emsp;
      <%= link_to "Edit", edit_article_path(article) %>
      &emsp;
      <%= link_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
<%= link_to "Want to Create a New Article? Click Here!", new_article_path %>
